<h1> User Index Here </h1>
<div><%= link_to "Return to homepage", movies_path %></div>
<div>
  <% @users.each do |user| %>
    <%= user.full_name %>
  <% end %>
  <nav>
    <%= paginate @users %>
  </nav>
</div>